<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Spring resource handling</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <script src="{{src "/lib/system.js"}}"></script>
    <script src="{{src "/config.js"}}"></script>
	{{#hasProfile "development"}}
        <link rel="stylesheet/less" type="text/css" href="{{src "/less/style.less"}}" />
        <script>
            System.import('less');
        </script>
	{{else}}
        <link rel="stylesheet" type="text/css" href="{{src "/css/style.css"}}">
	{{/hasProfile}}
	<script>
        System.config({baseURL: "/{{applicationVersion}}"});
		System.import('app/app');
	</script>

</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h1 id="greeting">{insert greeting here}</h1>
    </div>
	{{#hasProfile "development"}}
        <h2>In dev mode <a href="{{src "/less/style.less"}}">a LESS stylesheet is used</a> (see HTML source of this page)</h2>
	{{else}}
        <h2>In production mode <a href="{{src "/css/style.css"}}">a transpiled version of that stylesheet is used</a> (see HTML source of this page)</h2>
	{{/hasProfile}}
    <div id="logo"></div>
</div>
</body>
</html>